*{margin: 0; padding: 0; box-sizing: border-box;font-family: Fonte1;}

html,body{height: 100%;}

@font-face{font-family: "Fonte1";
src:url('../CONTEUDO/Fontes/Josefin_san/JosefinSans-Bold.ttf');}

@font-face{font-family: "Fonte2";
src:url('../CONTEUDO/Fontes/Bree_Serif/BreeSerif-Regular.ttf');}

/* DIVIS GERAIS */

    .container{width: 100%;
        max-width:1200px;
        margin: 0 auto;
    }

    .clear{clear: both;}
    

/* DIVIS GERAIS */

header{background-color:rgb(220,220,220);
    padding: 10px 2% 40px 2%;

}

.logo-1{
    float: left;
    width: 160px;
    height:90px;
    background-image:url('../CONTEUDO/IMAGEM/logo1.png');
    background-repeat: no-repeat;
    background-size: 100% auto;
    margin-bottom:20px; 
    background-position: center;
}

.logo-2{
    float: right;
    width: 160px;
    height: 90px;
    background-image:url('../CONTEUDO/IMAGEM/logo2.png');
    background-repeat: no-repeat;
    background-size:100%  auto;
    background-position: center;
    margin-bottom: 20px;
    /* background:purple; */
}

section .cover-form{
    width:100%;}

.bg{
    background-image:url('../CONTEUDO/IMAGEM/PAISAGEM.webp');
    height: 560px;
    background-position: center;
    background-size:cover;
    position:relative;
}

.form-container{
    position: absolute;
    right:30px;
    top:-2.5%;
    width: 400px;
    height:105%;
    background-color: white;
    text-shadow: 1px 1.25px 1px rgb(105, 103, 103);
    box-shadow: 0px 5px 5px 5px rgb(145, 144, 144);
}

.form-container h2{
    font-weight: normal;
    padding:25px 15px;
    color:black;
    font-size:18px;
    background-color: rgb(210,210,210);
}

.form-container form{
    margin-top: 20px;
    padding: 15px;
}

.form-container p{
    font-size: 14px;
    color: #525252;
}

.form-container input[type=text]{
    width:100%;
    border:1px solid #ccc;
    height:45px;
    line-height: 45px;
    padding-left: 10px;
}

.form-wraper:not(:first-child) {
    margin-top: 20px;
}

.form-wraper input[type=submit]{background-color:#033c50 ;
    text-transform:uppercase;
    width: 100%;
    color:white;
    font-size: 25px;
    font-weight: bold;
    height:50px;
    cursor: pointer;
    border:none;
}

.form-wraper:last-child{
    margin-top: 20px;
}


.chamada{width: 100%;
    text-align: center;
    z-index: 1;
    line-height:30px;

}

.chamada .container{background-color:#5a9dcc ;
    padding:70px 0 50px 0;}

.chamada .container{padding:50px 0;}

.chamada h2{
    width: 98%;
    max-width: 700px;
    display:inline-block;
    color:white;
    font-size: 30px;
    font-weight: normal;
    word-spacing:5px;
}

.chamada h4{color:white;
    word-spacing:2px;
    width: 98%;
    max-width: 700px;
    display:inline-block;
    font-weight: normal;
}


.flex-mosaico{
    display: flex;
}
.item-1-mosaico{background-position: center;
    background-size: cover;
    width: 60%;
    padding-top: 35%;}

.item-2-mosaico{
    background-color:rgb(142, 186, 227);
    padding:60px 40px;
    width: 40%;
}

.item-2-mosaico p{color:white;}



footer{text-align: center;
    padding: 20px 0;
}

footer p{margin-top: 8px;}

footer img{width: 120px;}


/* AQUI COMEÇA A PARTE DAS MÉDIAS QUERIES⬇️ */

@media screen and (max-width:960px){
    .bg{text-align: center;
        padding: 40px 0;
        height: auto;}

    .form-container{
        width:96%;
        height: auto;
        max-width: 400px;
        position: static;
        display: inline-block;
    }
}

@media screen and (max-width:768px){

    .flex-mosaico{

        display: block;
    }

    .item-1-mosaico{
        width: 100% ;
    }

    .item-2-mosaico{
        width: 100%;
        text-align: justify;
    }

    footer{text-align: center;
        padding: 20px 0;
    }

    footer p{margin-top: 8px;}

    footer img{width: 120px;}

}


@media screen and (max-width:510px){
    
    header{
        text-align: center;
    }

    .logo-1, .logo-2{display:inline-block;
        float: none;
        margin-top: 10px;
    }
    
}


/* AQUI COMEÇA A PARTE DAS MÉDIAS QUERIES⬆️ */
